Projet_service_web_banque/WebContent/wsdl/Banque.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://banque.dauphine.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://banque.dauphine.fr" xmlns:intf="http://banque.dauphine.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://banque.dauphine.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="consultDevise">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultDeviseResponse">
    <complexType>
     <sequence>
      <element name="consultDeviseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultSolde">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultSoldeResponse">
    <complexType>
     <sequence>
      <element name="consultSoldeReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="retraitEur">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
      <element name="montant" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="retraitEurResponse">
    <complexType>
     <sequence>
      <element name="retraitEurReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="depot">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
      <element name="montant" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="depotResponse">
    <complexType>
     <sequence>
      <element name="depotReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCompte">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delCompteResponse">
    <complexType>
     <sequence>
      <element name="delCompteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompte">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCompteResponse">
    <complexType>
     <sequence>
      <element name="getCompteReturn" type="impl:Compte"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Compte">
    <sequence>
     <element name="devise" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="mdp" nillable="true" type="xsd:string"/>
     <element name="noCompte" type="xsd:long"/>
     <element name="nom" nillable="true" type="xsd:string"/>
     <element name="prenom" nillable="true" type="xsd:string"/>
     <element name="solde" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="addCompte">
    <complexType>
     <sequence>
      <element name="nom" type="xsd:string"/>
      <element name="prenom" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="mdp" type="xsd:string"/>
      <element name="devise" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCompteResponse">
    <complexType>
     <sequence>
      <element name="addCompteReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultSoldeResponse">

      <wsdl:part element="impl:consultSoldeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retraitEurResponse">

      <wsdl:part element="impl:retraitEurResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCompteRequest">

      <wsdl:part element="impl:addCompte" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCompteResponse">

      <wsdl:part element="impl:delCompteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultSoldeRequest">

      <wsdl:part element="impl:consultSolde" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delCompteRequest">

      <wsdl:part element="impl:delCompte" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCompteRequest">

      <wsdl:part element="impl:getCompte" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCompteResponse">

      <wsdl:part element="impl:getCompteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultDeviseResponse">

      <wsdl:part element="impl:consultDeviseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="retraitEurRequest">

      <wsdl:part element="impl:retraitEur" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCompteResponse">

      <wsdl:part element="impl:addCompteResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultDeviseRequest">

      <wsdl:part element="impl:consultDevise" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depotRequest">

      <wsdl:part element="impl:depot" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depotResponse">

      <wsdl:part element="impl:depotResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Banque">

      <wsdl:operation name="consultDevise">

         <wsdl:input message="impl:consultDeviseRequest" name="consultDeviseRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultDeviseResponse" name="consultDeviseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultSolde">

         <wsdl:input message="impl:consultSoldeRequest" name="consultSoldeRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultSoldeResponse" name="consultSoldeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retraitEur">

         <wsdl:input message="impl:retraitEurRequest" name="retraitEurRequest">

       </wsdl:input>

         <wsdl:output message="impl:retraitEurResponse" name="retraitEurResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depot">

         <wsdl:input message="impl:depotRequest" name="depotRequest">

       </wsdl:input>

         <wsdl:output message="impl:depotResponse" name="depotResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCompte">

         <wsdl:input message="impl:delCompteRequest" name="delCompteRequest">

       </wsdl:input>

         <wsdl:output message="impl:delCompteResponse" name="delCompteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCompte">

         <wsdl:input message="impl:getCompteRequest" name="getCompteRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCompteResponse" name="getCompteResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCompte">

         <wsdl:input message="impl:addCompteRequest" name="addCompteRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCompteResponse" name="addCompteResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BanqueSoapBinding" type="impl:Banque">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultDevise">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultDeviseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultDeviseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultSolde">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultSoldeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultSoldeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="retraitEur">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="retraitEurRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="retraitEurResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depot">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depotRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depotResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delCompte">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delCompteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delCompteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getCompte">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCompteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCompteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addCompte">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCompteRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCompteResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BanqueService">

      <wsdl:port binding="impl:BanqueSoapBinding" name="Banque">

         <wsdlsoap:address location="http://localhost:8080/Projet_service_web_banque/services/Banque"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
